name: Publish Package

on:
    push:
        tags:
            - "v*"

jobs:
    publish-maven:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-java@v4
              with:
                  java-version: "17"
                  distribution: "temurin"
                  server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
                  settings-path: ${{ github.workspace }} # location for the settings.xml file

            - name: Publish to GitHub Packages
              run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
